<h1>Edit note</h1>
<form>
    <label for="title">Title</label>
    <input type="text" id="title">
    <label for="description">Description</label>
    <input type="text" id="description">
    <label for="importance">Importance</label>
    <input type="number" id="importance">
    <label for="due">Due</label>
    <input type="date" id="due">
    <label><input type="checkbox" id="finished">Finished</label>

    <button type="submit" id="save">Save</button>
    <a href="#" id="cancel">Cancel</a>
</form>
