<form>
    <div class="box1">
    <a href="/note-form" id="create-new-note">Create new Note</a>
    <button type="submit" id="style-switcher">Switch style</button>
    </div>
    <div class="box2">
    <button type="submit" id="by-finish-date">By finish Date</button>
    <button type="submit" id="by-created-date">By created Date</button>
    <button type="submit" id="by-importance">By Importance</button>

    <button type="submit" id="show-finished">Show finished</button>
    </div>
</form>

<ul class="boxed_notes">
    <li>
        <div class="note_box">
        <p class="due"></p>
        <p class="title">Einkaufen</p>
        <p class="importance">*****</p>

        <label><input type="checkbox" disabled checked class="finished">Finished</label>
        <textarea disabled class="description">Pizza
Schuhe
Suesses</textarea>
        <a href="/note-form" class="edit">Edit</a>
        </div>
    </li>
    <li>
        <div class="note_box">
        <p class="due">in a month</p>
        <p class="title">Geburt von Sarah</p>
        <p class="importance">***</p>

        <label><input type="checkbox" disabled class="finished">Finished</label>
        <textarea disabled class="description">Anrufen</textarea>
        <a href="/note-form" class="edit">Edit</a>
        </div>
    </li>
</ul>
