body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

textarea {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button, .button {
    border: none;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
}

.box1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 5px;
}

#create-new-note, #style-switcher {
    flex-basis: 16.67%;
}

.box2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-bottom: 5px;
}

#by-finish-date, #by-created-date, #by-importance {
    flex: 1;
    flex-basis: 20%;
    margin-right: 5px;
}

#show-finished {
    flex: 1;
    flex-basis: 20%;
}

.boxed_notes {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    padding: 5px;
}

.note_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 5px;
}

.due, .finished {
    flex: 1;
    flex-basis: 15%;
}

.title, .description {
    flex: 1;
    flex-basis: 60%;
    margin-right: 1rem;
}

.importance {
    flex: 1;
    text-align: right;
    flex-basis: 20%;
}

.edit {
    flex: 1;
    flex-basis: 20%;

    border: none;
    text-align: center;
    cursor: pointer;
}

.newnote_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#title_label {
    flex: 1;
    flex-basis: 15%;
}

#title {
    flex: 1;
    flex-basis: 80%;
}

#desc_label {
    flex: 1;
    flex-basis: 15%;
}

#description {
    flex: 1;
    flex-basis: 80%;
}

#imp_label {
    flex: 1;
    flex-basis: 15%;
}

#importance {
    flex: 1;
    flex-basis: 80%;
    width: 100%;
}

#due_label {
    flex: 1;
    flex-basis: 15%;
}

#due {
    flex: 1;
    flex-basis: 80%;
}

#finished {
    margin-left: 16.7%;
}

#submit_buttons {
    display: flex;
    flex-direction: row;
}

#save {
    flex: 1;
    flex-basis: 45%;
    margin-right: 5px;
}

#cancel {
    flex: 1;
    flex-basis: 45%;
}

@media (max-width: 767px) {
    #by-finish-date {
        margin-top: 1rem;
    }

    #by-finish-date, #by-created-date, #by-importance, #show-finished {
        flex: 1;
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .finished, .description {
        flex: 1;
        flex-basis: 100%;
        margin-right: 0;
    }

    .due, .title, .importance {
        flex-basis: 30%;
    }

    .due {
        order: 1;
    }

    .title {
        order: 2;
    }

    .importance {
        text-align: right;
        order: 3;
    }

    .finished {
        order: 4;
    }

    .description {
        order: 5;
    }

    .edit {
        flex-grow: 0;
        padding: 10px 2px;
        flex-basis: 30%;
        order: 6;
    }

    #title_label, #title, #description, #desc_label, #imp_label, #importance, #due, #due_label {
        flex-basis: 100%;
    }

    #finished {
        margin-left: 0;
    }
}
