body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #008080;
}

a {
  color: #00B7FF;
}

.box1{
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: gray;

  padding: 2% 2% 2% 2%;
  margin-bottom: 5px;
}
#create-new-note{

}
#style-switcher{

}

.box2{
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: gray;

  padding: 2% 2% 2% 2%;
  margin-bottom: 5px;
}
#by-finish-date{

}
#by-created-date{

}
#by-importance{

}
#show-finished{

}